.header {
    display: flex;
    width: 90%;
    margin-inline: auto;
    align-items: center;
    
    &__nav-left {
        flex-grow: 1;
    }

    &__center {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
    }

    &__logo {
        width: 600px;
    }

    &__nav-right {
        flex-grow: 1;
    }
}

.nav-left {
    &__list {
        width: 150px;
        list-style-type: none;
        display: flex;
        margin: 0;
        padding: 0;
        flex-wrap: wrap;
    }

    &__link {

    }
}

.nav-right {
    
    &__list {
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;
        padding: 0;
        margin: 0;
    }

    &__img {
        width: 20px;
    }

    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}