.hero {
    color: white;
    position: relative;
    height: 576px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // padding-left: 32px;

    &--spring {
        background: url(../../assets/Images/spring.png) no-repeat;
        width: 100%;
    }

    &--winter {
        background: url(../../assets/Images/winter.png) no-repeat 67% 50%;
        width: 100%;
    }

    &::before {
        position: absolute;
        top: 0;
    }

    &__heading {

    }

    &__subheading {

    }

    &__btn {

    }
}