

.hero {
    background: url(../../assets/Images/spring.png);
    color: white;
    position: relative;

    &::before {
        // content: url(../../assets/Images/snow-fall.jfif);
        position: absolute;
        top: 0;

    }
    &__heading {

    }

    &__subheading {

    }

    &__btn {

    }
}