@font-face {
    font-family: "Neue";
    src: url("../assets/Fonts/NHaasGroteskTXPro-55Rg.ttf")
    format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Neue";
    src: url("../assets/Fonts/NHaasGroteskTXPro-65Md.ttf")
    format("truetype");
    font-weight: 500;
}